.square {
    height: 70px;
    width: 70px;
    background-color: #009067;
    margin-right: 2px;
}

.circle-white {
    height: 60px;
    width: 60px;
    background-color: #ffffff;
    border-radius: 50px;
    border: 1px solid black;
    margin: 5px 5px;
}

.black-piece {
    height: 60px;
    width: 60px;
    background-color: #000000;
    border-radius: 50px;
    border: 1px solid black;
    margin: 5px 5px;
}

.white-piece {
    height: 60px;
    width: 60px;
    background-color: #ffffff;
    border-radius: 50px;
    border: 1px solid black;
    margin: 5px 5px;
}

.available-piece {
    height: 5px;
    width: 5px;
    background-color: red;
    border-radius: 50px;
    border: 1px solid black;
    margin: 30px 30px;
}

.othello-row {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    margin-bottom: 2px;
}

.container {
    display: block;
    text-align: center;
}

.hard-level {
    margin-left: 10%;
    cursor: pointer;
    /* color: white; */
}

.botVSbot {
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
}

.mode {
    margin-left: 10%;
    cursor: pointer;
    /* color: white; */
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

body {
    background-color: #363636;
    font-family: 'Roboto', sans-serif;
}

.flex {
    align-items: center;
    justify-content: center;
    display: flex;
}

button {
    border-radius: 10px;
    background-color: #ffffff;
    border: none;
    width: 8rem;
    height: 3rem;
}

button:hover {
    background-color: #009067;
}

#level {
    font-size: 1rem;
}

#mode {
    font-size: 1rem;
}

#bot-bot {
    cursor: pointer;
}